[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
install = "*"
uvicorn = "*"
fastapi = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
base-docker = "docker buildx build -f base.Dockerfile --platform linux/amd64 -t mx2542/kakax-jmeter-base:1.0 . --push"
docker = "docker buildx build -f Dockerfile --platform linux/amd64 -t mx2542/kakax-jmeter-demo:latest . --push"
