[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
install = "*"
uvicorn = "*"
fastapi = "*"
kubernetes = "*"
autopep8 = "*"
pytest = "*"
requests-toolbelt = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
base-docker = "docker buildx build -f base.Dockerfile --platform linux/amd64 -t mx2542/kakax-jmeter-base:1.0 . --push"
jmeter-docker = "docker buildx build -f Dockerfile --platform linux/amd64 -t mx2542/kakax-jmeter:latest . --push"
files-docker = "docker buildx build -f Dockerfile --platform linux/amd64 -t mx2542/kakax-files:1.0 . --push"
ffd = "docker buildx build -f main.Dockerfile --platform linux/amd64 -t mx2542/kakax-fast-files:1.0 . --push"
cd = "docker buildx build -f Dockerfile --platform linux/amd64 -t mx2542/kakax-controller:1.0 . --push"
demo-docker = "docker buildx build -f Dockerfile --platform linux/amd64 -t mx2542/kakax-demo:1.0 . --push"
